*.py~
*.json
*.json~
*.pkl
*.txt
*.txt~
*.pt
*.png
__pycache__
*.bak
*.json~
*.tar.gz
*.txt~
*.bak
*.tar.gz
saved/
*.html
CompGCN/comp_link_*
*.zip
!data/wikidata-disambig/ent2idx.json
!data/wikidata-disambig/rel2idx.json
!data/wikidata-disambig/pretraining/*
!data/wikidata-disambig/link-prediction/*
!data/wikidata-disambig-cut/entity-linking/*
!data/wikidata-disambig-cut/ent2idx.json
!data/wikidata-disambig-cut/rel2idx.json
!data/wikidata-disambig-cut/pretraining/*
!data/wikidata-disambig-cut/link-prediction/*
!data/wikidata-disambig-cut/entity-linking/*